<h1 class="start_planning"><%= link_to "Add Your Event Now", new_event_path %></h1>

<table>
  <% @events.each do |details| %>
    <tr>
      <td class="event_list">Event Name: <%= details.event_name %></td>
      <td class="event_list">Event Type: <%= details.event_type %></td>
      <td class="event_list">Date: <%=details.date %></td>
      <td class="event_list">Time: <%=details.time %></td>
    </tr>
    <tr>
      <td><%= link_to "Edit Event", edit_event_path(details) %> &nbsp; <%= link_to "Delete Event", details, method: :delete %></td>
    </tr>
  <% end %>
</table>
