<h1 class="start_planning"><%= link_to 'Start Planning!', new_event_path %></h1>

<table>
  <% @events.each do |details| %>
    <tr>
      <td class="event_list">Event Name: <%= details.event_name %></td>
      <td class="event_list">Event Type: <%= details.event_type %></td>
      <td class="event_list">Date: <%=details.date %></td>
      <td class="event_list">Time: <%=details.time %></td>
    </tr>
  <% end %>
</table>