
<div>
  <h1> Add the Details of Your Event Below</h1>
  <div class="devise"><%= form_for @event do |f| %>
    <table>
      <tr>
        <td><%= f.label :event_name %></td>
        <td id="text_field"><%= f.text_area :event_name%></td>
      </tr>
      <tr>
        <td> <%= f.label :event_type %></td>
        <td id="text_field"><%= f.text_area :event_type%></td>
      </tr>
      <tr>
        <td><%= f.label :date %></td>
        <td id="text_field"><%= f.text_area :date %></td>
      </tr>
      <tr>
        <td><%= f.label :time %></td>
        <td id="text_field"><%= f.text_area :time %></td>
      </tr>
      <tr>
        <td id="update">

          <%= f.submit(value = 'Add') %>
        </td>
      </tr>
    </table>
  <% end %>
</div>
  </div>